:root {
	--color-mode: "light";
	--color-dark: #211e1c;
	--color-light: #f8f6f1;
	--task-background-dark: #585350;
	--background: #f8f6f1;
	--text-color: #211e1c;
	--task-background: #cfc7b4;
	--accent-color-light: #a00000;
	--accent-color-dark: #e3b74f;
	--accent-color: var(--accent-color-light);
}

* {
	box-sizing: border-box;
}

html {
	font-size: 22px;
}

body {
	background-color: #f8f6f1;
	background-color: var(--background);
	color: #211e1c;
	color: var(--text-color);
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
		helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
	transition: background-color 500ms ease-in-out, color 200ms ease;
}

.page-wrapper {
	margin: 0 auto;
	max-width: 960px;
	width: 100%;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-mode: "dark";
	}

	:root:not([data-user-color-scheme]) {
		--background: var(--color-dark);
		--text-color: var(--color-light);
		--accent-color: var(--accent-color-dark);
		--banner-image-source: var(--banner-image-dark);
		--task-background: var(--task-background-dark);
	}
}

[data-user-color-scheme="dark"] {
	--background: var(--color-dark);
	--text-color: var(--color-light);
	--accent-color: var(--accent-color-dark);
	--banner-image-source: var(--banner-image-dark);
	--task-background: var(--task-background-dark);
}

/* Remove _all_ animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	body {
		scroll-behavior: auto;
	}

	* {
		-webkit-animation: none !important;
		animation: none !important;
		transition: none !important;
	}
}

.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

:focus-visible {
	outline: 3px dashed;
	outline-offset: 2px;
}

ul {
	list-style: none;
	padding: 0;
}

li,
a,
p {
	line-height: 1.5;
}

h1,
.hightlight,
a {
	color: #a00000;
	color: var(--accent-color);
}

.nav-link {
	color: var(--text-color);
}

button {
	font-family: inherit;
	cursor: pointer;
}

.flex {
	display: flex;
	justify-content: space-between;
}

/******************** Main ********************/
main {
	padding-bottom: 2.5rem; /* Footer height */
}

main * + * {
	margin-top: 1rem;
}

.task-container {
	background-color: var(--task-background);
	margin-top: 0.3rem;
	padding: 0.5rem 1rem;
	position: relative;
	border-radius: 5px;
}

.task-btn {
	background-color: inherit;
	border: 2px solid;
	color: inherit;
	font-size: inherit;
	margin-top: 0;
	position: absolute;
	right: 0.5rem;
	top: 50%;
	transform: translateY(-50%);
}

input[type="checkbox"] {
	display: none;
}

.task {
	width: 100%;
}

.task:hover {
	opacity: 0.6;
}

.task::before {
	content: "";
	display: block;
	position: absolute;
	width: 90%;
	height: 80%;
}

.task-done {
	opacity: 0.6;
	text-decoration: line-through;
}

input[type="text"] {
	background-color: var(--task-background);
	border: none;
	border-bottom: 3px dashed transparent;
	font-size: inherit;
	color: inherit;
	width: 90%;
}

input[type="text"]:focus {
	outline: none;
	border-color: var(--text-color);
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: inherit;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: inherit;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: inherit;
}

input[type="text"]:focus::placeholder,
input[type="text"]:hover::placeholder {
	opacity: 0.6;
}

/******************** Footer ********************/

footer {
	background-color: var(--background);
	bottom: 0;
	display: flex;
	flex-wrap: wrap;
	height: 1.5rem; /* Footer height */
	padding-bottom: 2rem;
	position: fixed;
	max-width: 960px;
}

footer div:first-child {
	padding-right: 0.8rem;
	border-right: 3px solid;
	margin-bottom: 0;
}

footer div:last-child {
	padding-left: 1rem;
	margin-bottom: 0;
}

@media (max-width: 960px) {
	.page-wrapper {
		padding: 0 1rem;
	}
}
