@import "./variables";
@import "./functions";
@use "sass:color";

body {
	background-color: $background_color;
}

h1 {
	color: $primary_color;
	text-transform: uppercase;
}

nav {
	li {
		display: inline-block;
		width: 100px;
	}

	a {
		color: $accent_color;
		&:hover {
			color: darken($accent_color, 25%);
			@include transitionSomething(all 1s ease);
		}
	}
}

.btn {
	border-radius: 0;
	padding: 0.5rem;
}

.content {
	min-height: 200px;
	padding: 2rem;
	h2 {
		color: grey;
	}
	&-a {
		background-color: papayawhip;

		h2 {
			color: $primary_color;
		}
	}
	&-b {
		background-color: ghostwhite;
	}

	.btn-dark {
		@extend .btn;
		background-color: goldenrod;
	}
}
